<div class="title">
    <div class="grid-container">
        <div class="grid-item">Email: <input type="email" [(ngModel)]="userBody.email" /></div>
        <div class="grid-item">Password: <input type="password" [(ngModel)]="userBody.password" /></div>
        <div class="grid-item">First Name: <input [(ngModel)]="userBody.firstname" /></div>
        <div class="grid-item" *ngIf="userBody.role === 'user'">Last Name: <input [(ngModel)]="userBody.lastname" />
        </div>
        <div class="grid-item"> I am:
            <select name="type" [(ngModel)]="userBody.role">
                <option value="organization">Organization</option>
                <option value="user">User</option>
            </select>
        </div>
        <div class="grid-item" *ngIf="userBody.role === 'user'">Birthday: <input type="date"
                [(ngModel)]="userBody.birthDate" /></div>
        <div class="grid-item" *ngIf="userBody.role === 'user'">Code: <input /></div>
    </div>
</div>

<div class="btns-container">
    <button type="button" class="btn" routerLink="/"><i class="material-icons-outlined">arrow_back_ios</i>Go
        back</button>
    <button type="button" class="btn align-end" routerLink="/" (click)="register()"><i
            class="material-icons-outlined">add</i>Create new account</button>
</div>