.notes-wrapper {
    width: 1300px;
    height: 100%;
    overflow-y: auto;
}

.notes-list {
    display: flex;
    flex-direction: column;

    flex-grow: 1;
    gap: 20px;
}

.note-card {
    background-color: rgba(black, 0.5);
    color: rgba(white, 0.95);

    border-radius: 4px;

    padding: 25px;

    cursor: pointer;

    transition: 0.1s;

    &:hover {
        background-color: rgba(black, 0.68);
        backdrop-filter: blur(2px);
    }
}

.notes-card-title {
    font-weight: 600;
    font-size: 20px;
}

.notes-card-content {
    margin-top: 7px;
}
