.cart-wrapper {
    height: 100%;
    overflow-y: auto;
}

.cart-items-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;

    flex-wrap: wrap;
}

.container {
    gap: 20px;
}
