<div class="cart-wrapper">

    <div class="container" *ngIf="this.items.length > 0; else elseBlock">

        <div class="filters-container">
            <app-sidebar-info></app-sidebar-info>
        </div>

        <div class="cart-items-container">

            <app-cart-item
                *ngFor="let item of items"
                [cartItem]="item"
                (click)="toggleWillBuy(item)"
                (deleteClick)="onDeleteClick(item)">
            </app-cart-item>

        </div>

    </div>

    <ng-template #elseBlock>
        <p>Nothing in cart</p>
    </ng-template>

</div>