<div class="title">
    <div class="grid-container">
        <div class="grid-item">Title: <input /></div>
        <div class="grid-item">Price: <input /></div>
        <div class="grid-item">Description: <input /></div>
        <div class="grid-item">Duration: <input /></div>
    </div>
</div>
<button type="button" routerLink="/organization">
    <div class="button-label-wrapper">
        <i class="material-icons-outlined">arrow_back_ios</i>Go back
    </div>
</button>
<button type="button" routerLink="/organization">
    <div class="button-label-wrapper">
        <i class="material-icons-outlined">add</i>Add new course
    </div>
</button>