<div class="wrapper container has-blurred-white-bg">

    <form #form="ngForm" ngNativeValidate (ngSubmit)="onFormSubmit(form)">
        <div class="form-field">
            <label class="form-label">Email</label>
            <input class="textbox" ngModel #titleField="ngModel" name="email" type="email"
                placeholder="e.g. test@test.com" required minlength="3">
        </div>

        <div class="form-field">
            <label class="form-label">Password</label>
            <input class="textbox" ngModel #titleField="ngModel" name="password" type="password"
                placeholder="e.g. testPassword123" required minlength="8">
        </div>

        <p *ngIf="this.errorText.length > 0"> {{ this.errorText }} </p>

        <div class="btns-container">
            <button class="btn" type="button" routerLink="register">Don't have an account? Click here to create one! </button>
            <button class="btn align-end">Log in</button>
        </div>
    </form>

</div>