* {
    color: white;
  }
  
  #course {
    margin-top: 100px;
    background-color: rgba(0, 0, 0, 0.5);
    width: 1300px;
    height: 500px;
    overflow: hidden;
  }
  
  #main {
    margin: 2%;
    width: 60%;
    float: left;
  }
  
  #videoList {
    margin: 2%;
    overflow: hidden;
    overflow-y: auto;
    height: 330px;
  }
  
  #videoList h1:hover {
    cursor: pointer;
  }
  
  #course_cover {
    width: 100%;
    height: 200px;
  }
  
  h1 {
    color: white;
    text-align: center;
    width: 560;
  }
  
  iframe {
    width: 100%;
    height: 350px;
  }
  
  input {
    margin: 3%;
    width: 20px;
    height: 20px;
  }
  
  p {
    font-size: large;
  }
  
  #videoList p:hover {
    cursor: pointer;
    font-size: x-large;
  }
  
  #ad:hover {
    cursor: pointer;
  }
  
  #ad {
    background-color: rgba(0, 0, 0, 0.5);
    width: 1300px;
    height: 200px;
    margin-top: 10px;
    text-align: center;
    position: relative;
  }
  
  #ad img {
    padding: 10px;
    width: 100%;
    height: 100%;
  }
  
  #ad p {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-size: xx-large;
    color: gray;
  }
  
  #main p {
    font-size: x-large;
  }
  
  #main-info p {
    display: inline-block;
    margin: 15px 0 15px 0;
    width: 250px;
    text-align: center;
  }
  
  #description, #video {
    height: 420px;
  }

  #next {
    margin-left: 550px;
  }