.app-wrapper {
    display: flex;
    flex-direction: column;

    height: 100%;

    background-image: url("https://images.unsplash.com/photo-1637406303130-cf17cf5358da?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=1080&ixid=MnwxfDB8MXxyYW5kb218MHx8fHx8fHx8MTYzNzU5NDE0MQ&ixlib=rb-1.2.1&q=80&w=1920");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.top-section {
    text-align: center;

    padding: 20px 0px;

    h1 {
        font-size: 120px;
        font-weight: bold;
        color: #f5f5f5;
        text-shadow: 0px 1px 7px rgba(black, 0.1);
    }

    h2 {
        font-size: 28px;
        color: white;
        text-shadow: 0px 1px 4px rgba(black, 0.1);
    }
}

.content-section {
    display: flex;
    flex-grow: 1;
    min-height: 0;
    justify-content: center;
}

.bottom-section {
    display: flex;

    app-tabs {
        margin: auto;
    }
}

.home-button {
    border-radius: 8px;
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
    display: inline-block;
    outline: 0;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 0 2px 5px 0 rgb(213 217 217 / 50%);
    background: #FFF;
    border: 1px solid #D5D9D9;
    height: 30px;
    text-align: center;
    font-weight: 400;
    color: #0F1111;
    margin-left: 48%;
    margin-bottom: 5px;
    :hover{
        background-color: #F7FAFA;
        border-color: #D5D9D9;
    }
    width: fit-content;
}

.home-label {
    font-weight: bold;
}

.material-icons-outlined {
    font-size: 18px;
    margin-right: 8px;
}