<div class="app-wrapper">

  <div class="top-section">
    <h1> {{ this.header }} </h1>
    <h2> {{ this.context }} </h2>

    <button class="btn" routerLink="/" *ngIf="router.url !== '/'" (click)="logout()">
      <div class="button-label-wrapper">
        <i class="material-icons-outlined">logout</i><span class="home-label">Log out</span>
      </div>
    </button>
  </div>

  <div class="content-section" [@routeAnim]="prepareRoute(outlet)">
    <router-outlet (activate)="updateGreeting($event);" #outlet="outlet"></router-outlet>
  </div>

  <div class="bottom-section">
    <app-tabs *ngIf="this.inUser"></app-tabs>
  </div>

</div>