<form action="./" method="get">
    <div class="searchbar">
        <input type="text" class="searchbar__input" name="search" placeholder="Search...">
        <button type="submit" class="searchbar__button">
            <i class="material-icons-outlined">search</i>
        </button>
    </div>
</form>

<div class="bookmarks-wrapper">

    <div class="container">

        <div class="filters-container">
            <app-filters-tile></app-filters-tile>
        </div>

        <div class="bookmark-tiles-container">

            <app-bookmark-tile></app-bookmark-tile>
            <app-bookmark-tile></app-bookmark-tile>
            <app-bookmark-tile></app-bookmark-tile>
            <app-bookmark-tile></app-bookmark-tile>

        </div>

    </div>

</div>