<div class="bookmarks-wrapper">

    <input class="search-bar" type="text" placeholder="Search...">


    <div class="container">

        <div class="filters-container">
            <app-filters-tile></app-filters-tile>
            <app-filters-tile></app-filters-tile>
            <app-filters-tile></app-filters-tile>
            <app-filters-tile></app-filters-tile>
            <app-filters-tile></app-filters-tile>
            <app-filters-tile></app-filters-tile>
        </div>

        <div class="bookmark-tiles-container">

            <app-bookmark-tile></app-bookmark-tile>
            <app-bookmark-tile></app-bookmark-tile>
            <app-bookmark-tile></app-bookmark-tile>
            <app-bookmark-tile></app-bookmark-tile>
            <app-bookmark-tile></app-bookmark-tile>
            <app-bookmark-tile></app-bookmark-tile>
            <app-bookmark-tile></app-bookmark-tile>
            <app-bookmark-tile></app-bookmark-tile>
            <app-bookmark-tile></app-bookmark-tile>
            <app-bookmark-tile></app-bookmark-tile>
            <app-bookmark-tile></app-bookmark-tile>
            <app-bookmark-tile></app-bookmark-tile>
            <app-bookmark-tile></app-bookmark-tile>
            <app-bookmark-tile></app-bookmark-tile>
            <app-bookmark-tile></app-bookmark-tile>
            <app-bookmark-tile></app-bookmark-tile>
            <app-bookmark-tile></app-bookmark-tile>
            <app-bookmark-tile></app-bookmark-tile>
            <app-bookmark-tile></app-bookmark-tile>
            <app-bookmark-tile></app-bookmark-tile>
            <app-bookmark-tile></app-bookmark-tile>
            <app-bookmark-tile></app-bookmark-tile>
            <app-bookmark-tile></app-bookmark-tile>
            <app-bookmark-tile></app-bookmark-tile>
            <app-bookmark-tile></app-bookmark-tile>
            <app-bookmark-tile></app-bookmark-tile>
            <app-bookmark-tile></app-bookmark-tile>
            <app-bookmark-tile></app-bookmark-tile>
            <app-bookmark-tile></app-bookmark-tile>
            <app-bookmark-tile></app-bookmark-tile>
            <app-bookmark-tile></app-bookmark-tile>
            <app-bookmark-tile></app-bookmark-tile>
            <app-bookmark-tile></app-bookmark-tile>
            <app-bookmark-tile></app-bookmark-tile>
            <app-bookmark-tile></app-bookmark-tile>
            <app-bookmark-tile></app-bookmark-tile>
            <app-bookmark-tile></app-bookmark-tile>
            <app-bookmark-tile></app-bookmark-tile>
            <app-bookmark-tile></app-bookmark-tile>
            <app-bookmark-tile></app-bookmark-tile>
            <app-bookmark-tile></app-bookmark-tile>
            <app-bookmark-tile></app-bookmark-tile>
            <app-bookmark-tile></app-bookmark-tile>
            <app-bookmark-tile></app-bookmark-tile>
            <app-bookmark-tile></app-bookmark-tile>
            <app-bookmark-tile></app-bookmark-tile>
            <app-bookmark-tile></app-bookmark-tile>
            <app-bookmark-tile></app-bookmark-tile>
            <app-bookmark-tile></app-bookmark-tile>
            <app-bookmark-tile></app-bookmark-tile>
            <app-bookmark-tile></app-bookmark-tile>
            <app-bookmark-tile></app-bookmark-tile>
            <app-bookmark-tile></app-bookmark-tile>
            <app-bookmark-tile></app-bookmark-tile>
            <app-bookmark-tile></app-bookmark-tile>
            <app-bookmark-tile></app-bookmark-tile>
            <app-bookmark-tile></app-bookmark-tile>
            <app-bookmark-tile></app-bookmark-tile>
            <app-bookmark-tile></app-bookmark-tile>
            <app-bookmark-tile></app-bookmark-tile>
            <app-bookmark-tile></app-bookmark-tile>
            <app-bookmark-tile></app-bookmark-tile>
            <app-bookmark-tile></app-bookmark-tile>
            <app-bookmark-tile></app-bookmark-tile>
            <app-bookmark-tile></app-bookmark-tile>
            <app-bookmark-tile></app-bookmark-tile>
            <app-bookmark-tile></app-bookmark-tile>
            <app-bookmark-tile></app-bookmark-tile>
            <app-bookmark-tile></app-bookmark-tile>
            <app-bookmark-tile></app-bookmark-tile>
            <app-bookmark-tile></app-bookmark-tile>
            <app-bookmark-tile></app-bookmark-tile>
            <app-bookmark-tile></app-bookmark-tile>
            <app-bookmark-tile></app-bookmark-tile>
            <app-bookmark-tile></app-bookmark-tile>
            <app-bookmark-tile></app-bookmark-tile>
            <app-bookmark-tile></app-bookmark-tile>
            <app-bookmark-tile></app-bookmark-tile>
            <app-bookmark-tile></app-bookmark-tile>
            <app-bookmark-tile></app-bookmark-tile>
            <app-bookmark-tile></app-bookmark-tile>
            <app-bookmark-tile></app-bookmark-tile>
            <app-bookmark-tile></app-bookmark-tile>
            <app-bookmark-tile></app-bookmark-tile>
            <app-bookmark-tile></app-bookmark-tile>

        </div>

    </div>

</div>