<form #form="ngForm" (ngSubmit)="onFormSubmit(form)">
    <div class="searchbar">
        <input type="text" ngModel class="searchbar__input" name="search" placeholder="Search...">
        <button class="searchbar__button">
            <i class="material-icons-outlined">search</i>
        </button>
    </div>
</form>

<div class="bookmarks-wrapper">

    <div class="container">

        <div class="filters-container">

            <form #formFilter="ngForm" (ngSubmit)="onFiltersFormSubmit(formFilter)">
                <div class="wrapper">

                    <div class="filter-tile">
                        <p class="tile-text">Level</p>
                        <ul>
                            <li><input ngModel #titleField="ngModel" type="checkbox" name="beginner" />Beginner</li>
                            <li><input ngModel #titleField="ngModel" type="checkbox" name="intermediate" />Intermediate</li>
                            <li><input ngModel #titleField="ngModel" type="checkbox" name="advanced" />Advanced</li>
                        </ul>
                    </div>

                    <div class="filter-tile">
                        <p class="tile-text">Price</p>
                        <ul>
                            <li><input ngModel #titleField="ngModel" type="checkbox" name="isFree" />Free</li>
                            <li><input ngModel #titleField="ngModel" type="checkbox" name="isPaid" />All</li>
                        </ul>
                    </div>

                    <div class="filter-tile">
                        <p class="tile-text">Rating</p>
                        <ul>
                            <li><input ngModel #titleField="ngModel" type="checkbox" name="3" />3</li>
                            <li><input ngModel #titleField="ngModel" type="checkbox" name="4" />4</li>
                            <li><input ngModel #titleField="ngModel" type="checkbox" name="5" />5</li>
                        </ul>
                    </div>

                    <button class="btn align-end">Filter</button>
                </div>
            </form>

        </div>

        <div class="bookmark-tiles-container">

            <app-course-tile
                *ngFor="let course of courses"
                [course]="course"
                [status]="getStatus(course)">
            </app-course-tile>

        </div>

    </div>

</div>