<form #form="ngForm" (ngSubmit)="onFormSubmit(form)">
    <div class="searchbar">
        <input type="text" ngModel class="searchbar__input" name="search" placeholder="Search...">
        <button class="searchbar__button">
            <i class="material-icons-outlined">search</i>
        </button>
    </div>
</form>

<div class="bookmarks-wrapper">

    <div class="container">

        <div class="filters-container">

            <div class="wrapper">

                <div class="filter-tile">
                    <p class="tile-text">Level</p>
                    <ul>
                        <li><input type="checkbox" name="isBeginner" />Beginner</li>
                        <li><input type="checkbox" name="isIntermediate" />Intermediate</li>
                        <li><input type="checkbox" name="isAdvanced" />Advanced</li>
                    </ul>
                </div>

                <div class="filter-tile">
                    <p class="tile-text">Price</p>
                    <ul>
                        <li><input type="checkbox" name="isPaid" />Paid</li>
                        <li><input type="checkbox" name="isFree" />Free</li>
                    </ul>
                </div>

                <div class="filter-tile">
                    <p class="tile-text">Rating</p>
                    <ul>
                        <li><input type="checkbox" name="isThree" />3</li>
                        <li><input type="checkbox" name="isFour" />4</li>
                        <li><input type="checkbox" name="isFive" />5</li>
                    </ul>
                </div>

            </div>

        </div>

        <div class="bookmark-tiles-container">

            <app-course-tile *ngFor="let course of courses" [course]="course"></app-course-tile>

        </div>

    </div>

</div>