<div class="wrapper">
    <button class="add-course-button" routerLink="/organization/add-course">Add new course</button>
    <div>
        <div *ngFor="let i of [1,2,3,4,5]">
            <div class="grid-container">
                <div class="grid-item">
                    <div class="title"></div>
                </div>
                <div class="grid-item">
                    <div class="chart-container">
                        <h6>Course {{i}}</h6>
                        <div echarts [options]="options" class="chart"></div>
                    </div>
                </div>
                <div class="grid-item">
                    <div class="button-container">
                        <button class="course-button">Details</button>
                        <br>
                        <button class="course-button" (click)="showEditModal[i] = true">Edit</button>
                        <br>
                        <button class="course-button" (click)="showDeleteModal[i] = true">Delete</button>
                    </div>
                </div>
            </div>
            <div id="myModal" class="modal" role="dialog" *ngIf="showEditModal[i] === true">
                <div class="modal-content">
                    <h4 class="modal-header">Editing course {{i}}...</h4>
                    <div class="title-modal">
                        <div class="grid-container">
                            <div class="grid-item">Title: <input /></div>
                            <div class="grid-item">Price: <input /></div>
                            <div class="grid-item">Description: <input /></div>
                            <div class="grid-item">Duration: <input /></div>
                        </div>
                    </div>
                    <button class="course-button" (click)="showEditModal[i] = false && editCourse(i)">Submit changes</button>
                    <button class="course-button" (click)="showEditModal[i] = false">Cancel</button>
                </div>
            </div>
            <div id="myModal" class="modal" role="dialog" *ngIf="showDeleteModal[i] === true">
                <div class="modal-content">
                    <h4 class="modal-header">You are deleting course {{i}}. Are you sure?</h4>
                    <button class="course-button" (click)="showDeleteModal[i] = false && deleteCourse(i)">Delete course</button>
                    <button class="course-button" (click)="showDeleteModal[i] = false">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>