<div class="bookmarks-wrapper">
    <div class="container">
        <div class="bookmark-tiles-container">
            <div *ngFor="let i of [1,2,3,4,5]">
                <div class="grid-container">
                    <div class="grid-item">
                        <div class="bookmark-tile"></div>
                    </div>
                    <div class="grid-item">
                        <h6 class="course-details">Course name</h6>
                        <div echarts [options]="options" class="chart"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
