.course-tile {
    background: url('../components/organization/course.png') center center no-repeat;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    padding-left: 40px;
    margin-left: 10px;

    gap: 12px;

    border-radius: 5px;

    width: 1000px;
    height: 225px;

    cursor: pointer;

    transition: all 0.1s;

    &:active {
        transform: translateY(2px);
        transition-duration: 0s;  
    }
}

.tile-text {
    font-size: 14px;
    color: rgba(black, 0.85);

    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}